<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.userSystem.dao.LogMapper">
    <!-- 插入一個Log -->
    <insert id="insertApiLog" parameterType="com.userSystem.model.LogDto">
        insert into user_system.api_log (account, request_api,http_code, message)
        values (#{account}, #{requestApi}, #{httpCode} ,#{message})
    </insert>

</mapper>
