<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.userSystem.dao.LogMapper">
    <!-- 插入一個Log -->
    <insert id="insertApiLog" parameterType="com.userSystem.model.LogDto">
        insert into user_system.api_log (account, request_api,http_code, message)
        values (#{account}, #{requestApi}, #{httpCode} ,#{message})
    </insert>
    <!-- Create Table -->
    <update id="createApiLog">
        CREATE TABLE `user_system`.`api_log` (
            `id` BIGINT NOT NULL AUTO_INCREMENT,
            `account` VARCHAR(255) NULL DEFAULT NULL ,
            `request_api` VARCHAR(255) NULL DEFAULT NULL ,
            `http_code` VARCHAR(255) NULL DEFAULT NULL ,
            `message` VARCHAR(255) NULL DEFAULT NULL ,
            `created_time` DATETIME NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
            `updated_time` DATETIME NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
            PRIMARY KEY (`id`) USING BTREE
        )
        COLLATE='utf8mb4_general_ci'
        ENGINE=InnoDB
        ROW_FORMAT=DYNAMIC
        ;
    </update>
</mapper>
